.expense_container {
  display: flex;
  flex-direction: column;
  display: flex;
  justify-content: space-around;
}

.balance_indicator {
  height: 3px;
  width: 125px;
  border-radius: 5px;
}

.current_income {
  font-size: 18px;
  font-weight: 500;
}
.header_container {
  display: flex;
  width: 90%;
  justify-content: space-between;
}
.money_container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: rgb(147, 147, 147);
}
.container1 {
  display: flex;
  width: 101%;
  justify-content: space-around;
}
.status_container {
  display: flex;
  justify-content: center;
}
.status {
  height: 10px;
  width: 40px;
  border-radius: 15px;
}
.money_details {
  text-align: center;
  width: 25%;
}
.action {
  color: rgb(0, 130, 255);
  font-size: 18px;
}
.money_container:hover {
  background-color: white;
  transition: 500ms;
  border-radius: 10px;
}

@media screen and (max-width: 768px) {
  .container1 {
    width: 100%;
  }
  .money_details {
    margin: 0px;
  }
}
