.container {
  display: flex;
  justify-content: space-between;
}

.icon {
  font-size: 30px;
  color: white;
}
.test {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 40px;
 
}
.icon_container{
  border-radius: 5px;
 background: linear-gradient(to bottom, rgb(3, 124, 253), rgb(102, 168, 255));
}
.middle_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  box-shadow: 0px 1px 1px 2px rgb(221, 221, 221);
  width: 60%;
  height: 550px;
  border-radius: 20px;
}

.right_bar {
  display: flex;
  background: linear-gradient(to bottom, rgb(3, 124, 253), rgb(102, 168, 255));
  min-height: 90vh;
  width: 50px;
  border-radius: 5px;
}

@media screen and (max-width: 768px) {
  .container {
    min-height: 77.5vh;
  }
  .right_bar {
    display: none;
  }

  .middle_container {
    padding: 0px;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 550px;
    border-radius: 10px;
  }
  .middle_current_container {
    width: 100%;
  }
  .profile_image {
    border-radius: 20px;
    height: 60px;
    width: 60px;
    margin: 30px 0px 30px 3px;
  }
  .profile_container {
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .icon_container{
    display: flex;
    justify-content: center;
    align-items: center;


  }
  .icon{
    height: 30px;
    font-size: 25px;
  }
  .test {
    width: 7.5%;
  }
}
