.user_menu_container {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(to bottom, rgb(3, 124, 253), rgb(102, 168, 255));
  border-top-right-radius: 10px;
  height: 100%;
  width: 210px;
  transition: 500ms;
}
.option_container {
  width: 91%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 80%;
  padding-left: 20px;
}
.user_menu_inactive {
  width: 0px;
  transition: 500ms;
}

.li {
  color: white;
  font-size: 20px;
  font-weight: 500;
  width: 150px;
  border-bottom: 1px solid white;
}
#welcome_message {
  color: white;
  margin: 0px;
}
.profile_image {
  margin-top: 5px;
  width: 60px;
  height: 65px;
  border-radius: 30px;
}
.container_user_info {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media screen and (max-width: 768px) {
  .user_menu_container {
    position: fixed;
    height: 90%;
    width: 190px;
    padding-left: 5px;
  }
  .user_menu_inactive {
    position: fixed;
    width: 0px;
    transition: 500ms;
  }
}
