.input {
  width: 230px;
  height: 30px;
  margin: 2px;
  border: none;
font-size: 18px;
  outline: none;
  text-align: center;
}

.inp_label_container {
  font-size: 18px;
  display: flex;
  height: 80px;
  flex-direction: column;

  justify-content: space-between;
}
.inp_label_container:hover {
  border-bottom: 1px solid rgb(0, 162, 255);
  color: rgb(1, 165, 247);
}
#error {
  color: red;
  font-size: 18px;
  margin: 5px;
}

