.input {
  padding-left: 5px;
  width: 230px;
  height: 40px;
  border: none;
  font-size: 18px;
  outline: none;
  border-bottom: 2px solid rgb(1, 165, 247);
background-color: white;
}

.inp_label_container {
  margin-top: 5px;
  font-size: 18px;
  display: flex;
  height: 85px;
  flex-direction: column;
  color: rgb(1, 165, 247);
  font-family: Arial, Helvetica, sans-serif;
  justify-content: space-between;
}

#error {
  color: red;
  font-size: 18px;
  margin: 0px;
}

@media screen and (max-width: 768px) {
  .input {
    margin: 0px;
    width: 170px;
  }
  .inp_label_container{
width: 180px;
  }
}
