.input {
  width: 200px;
  height: 30px;
  margin: 10px;
  border: none;
  border-radius: 10px;
  outline-color: rgb(0, 175, 249);
  text-align: center;
}
.input:hover {
  outline-style: solid;
  outline-width: 1px;
  padding: 5px;
}
#error{
  color: red;
  font-size: 18px;
  margin: 5px;
}