.container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 120px;
  align-items: center;
  width: 180px;

}
.button {
  outline: none;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 25px;
  width: 140px;
  border-radius: 5px;
  background-color: white;
  color: rgb(0,130,255);
  padding: 10px;
}
.button:hover{
  border: 1px solid white;
  height: 22px;
  width: 130px;
  transition:0.5s;
}
@media (max-width:768px) {
  .button{
    height: 25px;
    padding: 8px;
    width: 130px;
  }
}
