.container {
  display: flex;
}
.button {
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 25px;
  width: 130px;
  border-radius: 5px;
  border: none;
  background-color: rgb(5, 156, 249);
  color: white;
  font-size: 15px;
  padding: 10px;
}
.button:hover{
  background-color: black;
  border: 1px solid white;
  transition: 0.5s;
}
@media (max-width:768px) {
  .button{
    height: 25px;
    padding: 8px;
    width: 210px;
  }
}
