.container {
  display: flex;
  height: 75%;
  padding-left: 15px;
  justify-content: space-between;
  flex-direction: column;
  width: 110%;
  border-radius: 20px;
}

.sign_in {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  width: 95%;
  height: 300px;
}
.sign_up {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  height: 300px;
}
#user_error {
  color: red;
  font-size: 18px;
  text-decoration: underline;
  padding: 0px;
  margin: 0px;
}
.sign_tag {
  font-size: 24px;
  color: rgb(1, 165, 247);
  font-weight: 500;
}
.input_password {
  display: flex;
  align-items: center;
}
.password_icon {
  padding: 40px 0px 0px 0px;
  font-size: 18px;
}

.page_container {
  height: 100%;
}
.button_container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 120px;
  align-items: center;
  width: 180px;
}
.button {
  border: none;
  outline: none;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 35px;
  width: 140px;
  border-radius: 10px;
  margin-top: 10px;
  background-color: white;

  color: rgb(1, 165, 247);
  padding: 10px;
}
.button:hover {
  border: 1px solid white;
  width: 130px;
  transition: 0.5s;
}
@media screen and (max-width: 768px) {
  .container {
    height: 92%;
    width: 95%;
    padding-left: 15px;
    flex-direction: column;
  }
  .sign_up {
    width: 100%;
  }
  .sign_in {
    width: 100%;
  }
}
