#user_error {
  color: red;
  font-size: 18px;
  text-decoration: underline;
  padding: 0px;
  margin: 0px;
}
.input_password{
  display: flex;
  align-items: center;
  margin-left: 20px;
}
.password_icon{
  padding: 10px 0px 10px 0px;
  font-size: 18px;
}

