.container {
  display: flex;
  padding-left: 15px;
  justify-content: space-between;
  flex-direction: column;
  width: 110%;
  border-radius: 20px;
}

.sign_in {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  width: 95%;
  height: 250px;
}
.sign_up {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  height: 300px;
}
#user_error {
  color: red;
  font-size: 18px;
  text-decoration: underline;
  padding: 0px;
  margin: 0px;
}
.sign_tag {
  font-size: 24px;
  color: rgb(1, 165, 247);
  font-weight: 500;
}
.input_password {
  display: flex;
  align-items: center;
}
.password_icon {
  padding: 40px 0px 0px 0px;
  font-size: 18px;
}

@media screen and (max-width: 768px) {
  .container {
    padding-left: 15px;
    flex-direction: column;
    align-items: center;
    width: 85%;
  }
  .sign_up {
    width:100%;
  }
  .sign_in {
    width: 100%;
  }
}
