.input_file {
  display: none;
}
.upload_img_label {
  color: rgb(15, 139, 255);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 40px;
  border-radius: 5px;
  background-color:white
}
.icon{
  font-size: 25px;
}
.upload_img_label:hover{
border: 1px solid white;
}
.user_container{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}

@media screen and (width <768px) {
  .user_container{
  }
}
