.container {
  display: flex;
  justify-content: space-between;
}

#copyright {
  margin: 0px;
  color: rgb(0, 94, 255);
  text-align: center;
  background-color: azure;
}

@media screen and (max-width: 768px) {
  .container {
    width: 430px;
    display: flex;
    flex-direction: column;
  }

  #copyright {
    width: 102.2%;
  }
}
