.container {
  display: flex;
  justify-content: center;
  height: 700px;
  width: 100%;
  align-items: center;
}
.table_container {
  background-color: rgb(51, 145, 254);
  width: 60%;
  height: 100px;
  border: 3px solid white;
  border-radius: 10px;
}
.tbody_container {
}
.tr_container {
  height: 65px;
  /* width: 150px; */
  text-align: center;
}

.noun {
  border-radius: 5px;
  background: linear-gradient(to right, rgb(75, 255, 156), rgb(22, 131, 14));
  width: 100px;
}
.overdraft {
  width: 100px;
  background: linear-gradient(to right, rgb(251, 84, 84rgb (247, 3, 3) 4));
}

.user_info {
  border-radius: 5px;
  border-right: 1px solid white;
  border-bottom: 1px solid white;
  font-size: 20px;
  color: white;
}

@media screen and (max-width: 768px) {
  .table_container {
    width: 100%;
    border: none;
    height: 400px;
  }
  .container {
  }
  .user_info {
    font-size: 16px;
  }
  .tr_container {
  }
}
