.container {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 20px;
  align-items: center;
}
.table_container {
  width: 60%;
  height: 100px;
  border: 1.5px solid rgb(0, 0, 0);
  border-radius: 10px;
}

.tr_container {
  height: 65px;

  text-align: center;
}

.noun {
  border-radius: 5px;
  background: linear-gradient(to right, rgb(75, 255, 156), rgb(22, 131, 14));
  width: 45px;
  height: 7px;
}
.status_container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.overdraft {
  width: 45px;
  height: 7px;
  border-radius: 5px;
  background: linear-gradient(to left, red,rgb(255, 201, 201));
}

.user_info {
  border-right: 1px solid rgb(0, 0, 0);
  border-bottom: 1px solid rgb(0, 0, 0);
  font-size: 20px;
}

@media screen and (max-width: 768px) {
  .table_container {
    width: 97%;
    border: none;
    height: 30%;
  }

  .user_info {
    font-size: 16px;
  }

  .noun {
    width: 50px;
  }
}
