.page_container {
  height: 40px;

  align-items: center;
  justify-content: space-between;
  display: flex;
  background-color: rgb(248, 248, 248);
}
.modal_container {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.362);
}

.container {
  position: fixed;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
  height: 220px;
  width: 300px;
  border-radius: 20px;
  background-color: white;
}
.icon {
  height: 40%;
  width: 40%;
}
.bank_title {
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  padding: 10px;
  color: rgb(0, 115, 255);
}
li {
  list-style: none;
  color: rgb(0, 94, 255);
}

.close_icon {
  font-size: 25px;
  margin-left: 5px;
  color: rgb(0, 115, 255);
}
@media screen and (max-width: 768px) {
  .page_container {
    justify-content: space-between;
    height: 45px;
    position: sticky;
    top: 0px;
    width: 100%;
  }
  .bank_title {
    padding: 0px;
  }
}
