.container {
  margin: 10px 0px 10px 0px;
  height: 890px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.authentication_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background: linear-gradient(to top, rgb(74, 185, 255), rgb(179, 226, 255));
  width: 350px;
  height: 100%;
  border-radius: 10px;
}

@media screen and (max-width: 768px) {
  .authentication_container {
    width: 98%;
  }
  .container {
    height: 850px;
  }
}
