.container {
  height: 890px;
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  align-items: center;
}
.sign_in_authentication_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background: linear-gradient(to top, rgb(74, 185, 255), rgb(179, 226, 255));
  width: 350px;
  height: 90%;
  border-radius: 10px;
}
.sign_up_authentication_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background: linear-gradient(to top, rgb(74, 185, 255), rgb(179, 226, 255));
  width: 350px;
  height: 100%;
  border-radius: 10px;
}

@media screen and (max-width: 768px) {
  .sign_up_authentication_container {
    width: 97%;
  }
  .sign_in_authentication_container {
    width: 97%;
  }
  .container {
    height: 850px;
  }
}
