.about {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  color: white;
  width: 100%;
  background: linear-gradient(to top, rgb(0, 123, 255), rgb(91, 159, 255));
}
.container_tag {
  font-weight: bolder;
  display: flex;
  align-items: center;
  flex-direction: column;
}
@media (max-width: 768px) {
  .about {
    margin-top: 1px;
    display: flex;
    flex-direction: column;
    width: 100%;
  }
}
