.about {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  color: white;
  border-radius: 10px;
  width: 100%;
  background: linear-gradient(to right, rgb(106, 183, 255), rgba(0, 42, 255, 0.963));
}
.container_tag {
  font-weight: bolder;
  display: flex;
  align-items: center;
  flex-direction: column;
}
@media (max-width: 768px) {
  .about {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    width: 100%;
  }
}
