.container {
  display: flex;
  flex-direction: column;
  width: 35px;
  height: 30px;

}
.container_user {

  width: 35px;
  height: 25px;
}
.hamburger {
  background-color:black;
  margin: 3px;
  height: 4px;
}
@media (max-width: 768px) {
  .container_user {
    top: 70px;
  }
}
