.select{
    width: 80px;
    height: 30px;
    border-radius: 10px;
    border: none;
    color: rgb(0, 132, 255);
    font-size: 14px;
    background-color: rgb(225, 225, 225);
    text-align: center;
    outline: none;
}
