.select{
    width: 100px;
    height: 30px;
    border-radius: 10px;
    border: none;
    color: rgb(0, 132, 255);
    font-size: 15px;
    background-color: rgb(238, 238, 238);
    text-align: center;
    outline: none;
}
