.select{
    width: 100px;
    height: 30px;
    border: none;
    color: rgb(0, 132, 255);
    font-size: 16px;
    background-color: rgb(247, 247, 247);
    text-align: center;
    outline: none;
}

.option{
    
    background-color: rgb(0, 132, 255);
    color: white;
}
